@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* NAV styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
.nav-title{
    font-weight: 800;
    font-size: 45px;
    line-height: auto;
}

/* shared style*/
.text-primary{
    color: #FD6E0A;
}
.secondary-bg{
    background-color: #FFF8F3;
}
.section-title{
    font-family: "Open Sans", sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-top: 0px;
}
.section-description{
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: #757575;
    text-align: center;
}
.btn-primary{
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border : none;
    padding: 18px 35px;
    border-radius: 5px;
}

.dark-2{
    color: #474747;
}

nav ul {
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin-right: 51px;
}
nav ul li a {
    text-decoration: none;
    font-size: 20px;
}
/* banner styles */
.banner-greetings {
    font-family: "Open Sans", sans-serif;
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 5px;
}
.banner-title{
    font-family: "Open Sans", sans-serif;
    font-size: 85px;
    font-weight: bold;
    padding-top: 0px;
    margin-top: 0px;
}
.banner-img{
    width: 584px;
    height: 676px;
}
main{
    max-width: 1140px;
    margin: 0px auto;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 200px;
}
.banner-content{
    max-width: 580px;
}
.btn-secondary{
    color: #FD6E0A;
    background-color: transparent;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    width: 150px;
    height: 59px;
}
.banner-description{
    opacity: 0.8;
}
/* about sections styles */
.about{
    border: 100px solid #FFF8F3;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.about-items{
    display: flex;
    justify-content: space-evenly;
    font-family: "Open Sans", sans-serif;
}
.item-description{
    font-size: 20px;
    font-weight: bold;
    color: #474747;
}
.item-title{
    font-size: 20px;
    font-weight: mixed;
    color: #474747;
}